{% extends "layout.html" %} 
{% block title %} My first django project 
{% endblock %} 
{% block content %}
<h1 class="text-center mt-4">Welcome to my first django project</h1>

<a
  href="{% url 'tweet_create' %}"
  class="text-white bg-purple-700 hover:bg-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 mb-2"
  >Create tweet
</a>

<div class="my-10 grid grid-cols-3 gap-5">
  {% for tweet in tweets %}

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
  >
    <img class="rounded-t-lg h-60 w-full" src="{{tweet.photo.url}}" alt="" />

    <div class="p-5">
      <h5
        class="mb-2 capitalize text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{tweet.user.username}}
      </h5>

      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{tweet.text}}
      </p>
      {% if tweet.user == user %}
      <div class="flex gap-5">
        <a
          href="{% url 'tweet_edit' tweet.id %}"
          class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mb-2"
        >
          Edit
        </a>

        <a
          href="{% url 'tweet_delete' tweet.id %}"
          class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 mb-2"
        >
          Delete
        </a>
      </div>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}
